<div class="page-sign d-block py-0">
<div class="row g-0">
    <div class="col-md-7 col-lg-5 col-xl-4 col-wrapper">
      <div class="card card-sign">
        <div class="card-header">
          <div class="header-logo mb-5"><img src="../../../assets/img/fetlogo.png" alt=""></div>
          <h3 class="card-title">Iniciar sesión</h3>
          <p class="card-text">Repositorio de proyectos FET.</p>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            <input type="text" class="form-control" placeholder="Ingrese el correo electrónico">
          </div>
          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" placeholder="Ingrese la contraseña">
          </div>
          <button class="btn btn-primary btn-success">Acceder</button>
        </div><!-- card-body -->
      </div><!-- card -->
    </div><!-- col -->
    <div class="col d-none d-lg-block"><img src="https://docplayer.es/docs-images/113/207172690/images/1-1.jpg" class="auth-img" alt=""></div>
  </div><!-- row -->
</div>
